# Yii console commands
/yii
/yii_test
/yii_test.bat

# IDE files
.idea
.vscode
nbproject
.buildpath
.project
.settings

# OS files
Thumbs.db
.DS_Store

# Composer
/vendor/
composer.phar

# Node
/node_modules/

# Runtime (important)
backend/runtime/
frontend/runtime/
common/runtime/

# Assets
backend/web/assets/
frontend/web/assets/

# Uploads (images)
backend/web/uploads/

# Env & secrets
.env
common/config/main-local.php
backend/config/main-local.php
frontend/config/main-local.php

# Logs
*.log

# PHPUnit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant

# Generated web files
/frontend/web/index.php
/frontend/web/index-test.php
/frontend/web/robots.txt
/backend/web/index.php
/backend/web/index-test.php
/backend/web/robots.txt

# Docker
docker-compose.yml